body{
    background-color: #ede5cc;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container > div {
  width: 50%;
  margin: 20px;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
}

.header {
  background-color: #ede5cc;
  padding: 10px;
  text-align: center;
}

  /* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #1899d6;
  margin-bottom: 30%;
  margin-left: auto;
  margin-right: auto;
}
  
/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
/* Change color on hover */
.topnav a:hover {
  font-size: 17px;
  color: rgb(0, 32, 108);
  transition: color 0.6s, font-size 0.6s;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 40px;
}

/* Left and right column */
.column.side {
  float: right;
  padding: 10px;
}

body{
  background: #ede5cc;
}

.signupdiv{
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 1px 2px 3px #ccc;
  border-radius: 7px;
  text-align: center;
  width: 35%;
  position: absolute;
  top: 66%;
  left: 33%;
  transform: translateY(-50%);
  display: block;
  margin: auto;
}

#signupform{
  padding: 15px;
}

input, select{
  margin-bottom: 10px;
  height: 38px;
  border: 1px solid #ddd;
  padding-left: 10px;
}

input{
  width: 97%;
}

button, select{
  width: 100%;
}

button{
  height: 45px;
  background: #188c01;
  border: none;
  border-radius: 5px;
  color: #fff;
  margin-top: 5px;
}

.label {
 font-size: 22px;
}

.submit {
  color: white;
  background-color: #1899D6;
  border: none;
  border-radius: 60px;
  box-shadow: 0 3px 6px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
  margin-bottom: 5%;
}