img {
  width: 10%;
  height: auto;
  align-content: center;
}

body{
background-color: #EDE5CC;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container > div {
  width: 50%;
  margin: 20px;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
}

.merriweatherFont {
  font-family: 'Merriweather'; font-size: 40px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #1899d6;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  font-size: 17px;
  color: rgb(0, 32, 108);
  transition: color 0.6s, font-size 0.6s;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 40px;
}

/* Left and right column */
.column.side {
  float: right;
  padding: 10px;
}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}




.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.loginbutton{
display: inline-block;
outline: 0;
border: 0;
cursor: pointer;
font-weight: 600;
color: rgb(72, 76, 122);
font-size: 14px;
height: 38px;
padding: 8px 24px;
border-radius: 50px;
background-image: linear-gradient(180deg,#fff,#f5f5fa);
box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
transition: all .2s ease-out;
}

.loginbutton:hover{
    box-shadow: 0 8px 22px 0 rgba(29, 34, 77, 0.15), 0 4px 6px 0 rgb(93 100 148 / 20%);
}